<form class="text-center" [formGroup]="sprintForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="sprintName">Nume sprint:</label>
        <input type="text" formControlName="sprintName" id="sprintName" class="form-control"
            placeholder="Name">
        <div *ngIf="checkInput(f.sprintName)">
            <small class="text-danger" *ngIf="f.sprintName.errors.required">Numele este obligatoriu</small>
        </div>

    </div>
    <div class="form-group">
        <label for="sprintCode">Scop:</label>
        <input type="text" formControlName="sprintCode" id="sprintCode" class="form-control"
            placeholder="Code">
        <div *ngIf="checkInput(f.sprintCode)">
            <small class="text-danger" *ngIf="f.sprintCode.errors.required">Scopul este obligatoriu</small>
        </div>
    </div>

    <div class="form-group">
        <label for="startDate">Data Start:</label>
        <input type="date" formControlName="startDate" id="startDate" class="form-control"
            placeholder="Code">
        <div *ngIf="checkInput(f.startDate)">
            <small class="text-danger" *ngIf="f.startDate.errors.required">Data de start este obligatorie</small>
        </div>
    </div>

    <div class="form-group">
        <label for="endDate">Data Stop:</label>
        <input type="date" formControlName="endDate" id="endDate" class="form-control"
            placeholder="Code">
        <div *ngIf="checkInput(f.endDate)">
            <small class="text-danger" *ngIf="f.endDate.errors.required">Data de final este obligatorie</small>
        </div>
    </div>

    <button mdbBtn color="info" block="true" class="my-4" type="submit" *ngIf="sprintService.selectedSprint != null">Actualizeaza</button>
    <button mdbBtn color="info" block="true" class="my-4" type="submit" *ngIf="sprintService.selectedSprint == null">Creeaza</button>
    <button mdbBtn color="warning" block="true" class="my-4" type="button" (click)="reinitForms(true)">Sterge</button>

</form>